section {
    width: 100%;

    & .videoWrapper {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        justify-content: space-between;
        gap: 40px;
        margin-top: 94px;
        padding: 40px;
        width: 100%;

        & li {
            list-style-type: none;
        }
    }
}

@media only screen and (max-width: 1440px) {
    section {
        width: 100%;

        & .videoWrapper {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3, minmax(0, 1fr));
            justify-content: center;

            & li {
                list-style-type: none;
            }
        }
    }
}

@media only screen and (max-width: 1240px) {
    section {
        width: 100%;

        & .videoWrapper {
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));

            & li {
                list-style-type: none;
            }
        }
    }
}
