header {
    width: 100%;
    position: fixed;
    top: 0;
    padding: 8px 16px 8px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFF;

    & .searchBox {
        display: flex;
        align-items: center;

        & .searchInp {
            max-width: 515px;
            padding: 8px 4px 9px 17px;
            border-radius: 40px 0px 0px 40px;
            border-top: 1px solid #CCC;
            border-bottom: 1px solid #CCC;
            border-left: 1px solid #CCC;
            background: #FFF;
            box-shadow: 0.25px 1.25px 2px 0.75px #EEE inset;

            & input {
                color: #888;
                font-size: 16px;
                font-family: 'Roboto Regular';
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                width: 515px;

                &:focus {
                    outline: none;
                }

                & ::placeholder {
                    color: #888;
                }
            }
        }

        & .searchBtn {
            padding: 8px 20px;
            border-radius: 0 40px 40px 0;
            border: 1px solid #D3D3D3;
            background: #F8F8F8;

            &:hover {
                background: #f8f8f856;
            }
        }
    }

    & .searchBtn2 {
        display: none;
        padding: 8px;

        &:hover {
            background: #f8f8f856;
        }
    }

    & .microphoneBtn {
        display: grid;
        place-content: center;
        padding: 8px;
        border-radius: 100px;
        background: rgba(0, 0, 0, 0.05);

        &:hover {
            background: rgba(0, 0, 0, 0.10);
            transition: all 0.1s ease;
        }

        & .bxs-microphone {
            font-size: 20px;
        }
    }

    & .settings {
        display: flex;
        align-items: center;
        column-gap: 16px;

        & button {
            display: flex;
            align-items: center;
            column-gap: 6px;
            border-radius: 18px;
            border: 1px solid rgba(0, 0, 0, 0.10);
            padding: 0 16px 0 10px;
            min-width: fit-content;

            & span {
                color: #065FD4;
                font-family: "Roboto Medium";
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 36px;
            }
        }
    }
}

.MuiButtonBase-root:nth-child(2) {
    display: none !important;
}

@media only screen and (max-width: 960px) {
    .MuiButtonBase-root:nth-child(2) {
        display: flex !important;
    }

    .MuiButtonBase-root {
        border: none !important;
    }

    header {

        & .searchBox {

            & .searchInp {

                & input {
                    width: 100%;
                }
            }
        }
    }

}

@media only screen and (max-width: 650px) {
    header {
        & .searchBox {
            display: none;
            align-items: center;
        }

        & .searchBtn2 {
            display: flex;
            padding: 8px;
        }
    }
}

@media only screen and (max-width: 575px) {
    header {
        & .settings {
            display: flex;
            align-items: center;
            column-gap: 16px;

            & button {
                display: none;
                align-items: center;
                column-gap: 6px;
                border-radius: 18px;
                border: 1px solid rgba(0, 0, 0, 0.10);
                padding: 0 16px 0 10px;
                min-width: fit-content;

                & span {
                    color: #065FD4;
                    font-family: "Roboto Medium";
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 36px;
                }
            }
        }
    }
}